$color: green;

li {

  border-bottom-color: $color;
}

%littleTemplate {
  body li,
  body p {
    background-color: red;
  }
}

%mediumTemplate {
  body li,
  body p {
    background-color: blue;
  }
}
@media(max-width: 400px) {
  body {
    @extend %littleTemplate;
  }
}
@media(max-width: 600px) {
/*  @extend %mediumTemplate; */
}

nav ul li {
  display: inline;
}
